:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --modal-closs-btn: rgba(46, 47, 66, 0.1);
}

body {
  color: var(--text);
  background-color: var(--white-background);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

/* -----utilities-------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* -----------header and logo--------------*/

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.maim-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.header .logo,
.footer .logo {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: var(--primary-brand);
}

.header .logo-studio {
  color: var(--dark);
}

.style-nav {
  display: none;
}

.addres {
  display: none;
}

.menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu-hamburger {
  display: block;
  fill: var(--dark);
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  z-index: 1;
  padding: 24px 24px 40px 40px;

  background-color: var(--white-background);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
  transform: translate(100%);
}

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 32px;

  border-radius: 50px;
  background: var(----modal-overlay);
  border: 1px solid var(--modal-closs-btn);
}
.menu-close {
  fill: var(--dark);
}

.mob-menu-navigation .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  color: #2e2f42;
}

.mob-menu-navigation .item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-navigation .current-page {
  color: var(--pressed-state);
}

.mob-menu-addres .addres-items .item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-addres .addres-items {
  margin-bottom: 48px;
}
.mob-menu-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: #434455;
}
.mob-menu-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--primary-brand);
}

.mob-menu-soc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 328px;
}

.mob-menu-soc .item {
  width: 40px;
  height: 40px;
}

.mob-menu-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-icon {
  fill: var(--light);
}

/* -----------Sections ---------------*/

/* ___hero___ */

.hero {
  max-width: 428px;
  height: 432px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-background);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mob-2x.jpg);
  }
}

.hero-item {
  text-align: center;
}

.hero .title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 32px;
  line-height: calc(40 / 36);

  letter-spacing: 0.02em;
  color: var(--white-background);
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--pressed-state);
}

.btn {
  padding: 16px 32px;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-background);
  background-color: var(--primary-brand);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state);
}

/* ------Features--------- */

.features-item-icon {
  display: none;
}

.features,
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-items .item:not(:last-child) {
  margin-bottom: 72px;
}

.features .title,
.team .title,
.portfolio .title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--dark);
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  margin: 0;
}

/* -------------Services-------------- */

.services {
  display: none;
}

/* --------------Our Team----------------- */
.team {
  background-color: var(--light);
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-title {
  margin-bottom: 72px;
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
}

.team-items {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-items .item {
  width: 264px;
  margin: 0 auto;
  background-color: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding: 32px 16px;
  text-align: center;
}

.team-info > .title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state);
}

/* ---------customers------------- */

.customers-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.customers-items > .item {
  max-width: 190px;
  height: 88px;
  margin-bottom: 72px;
  flex-basis: calc((100% - 16px) / 2);
}

@media screen and (max-width: 767px) {
  .customers-items > .item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .customers-items > .item:nth-child(odd) {
    margin-right: 16px;
  }
}
.costomer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--subtle-text);
  border-radius: 4px;

  transition-property: box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.costomer-link:hover,
.costomer-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--pressed-state);
}

.costomer-logo {
  fill: var(--subtle-text);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.costomer-link:hover .costomer-logo,
.costomer-link:focus .costomer-logo {
  fill: var(--pressed-state);
}

/* --------portfolio-------------- */

.portfolio {
  padding-bottom: 48px;
  padding-top: 48px;
}

.button-style {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 48px;
}

.button-style .filters-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: inherit;

  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  border: 1px solid var(--accent);
  border-radius: 4px;

  transition-property: color, background-color, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:focus,
.filters-button:hover {
  color: var(--white-background);
  background-color: var(--primary-brand);
  border: 1px solid var(--primary-brand);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-style > .item {
  margin-right: 8px;
}

.button-style > .item:nth-last-child(1) {
  margin-right: 0;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-items .item {
  display: flex;
  max-width: 396px;
  max-height: 400px;
}

.portfolio-items .item:not(:last-child) {
  margin-bottom: 48px;
}

.card-description {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio-items .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: start;
}

.portfolio-items .card-description > .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--light);

  background-color: var(--primary-brand);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-items .link:hover .card-description .text,
.portfolio-items .link:focus .card-description .text {
  transform: translateY(0);
}

.portfolio-items .link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items .link:hover,
.portfolio-items .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item-info {
  border: 1px solid var(--accent);
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.portfolio .text {
  color: var(--text);
}

/* -----------------Footer--------------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark);
}

.footer .logo-studio {
  color: var(--light);
}

.footer .logo {
  display: block;
  padding: 0;
  margin-bottom: 16px;
}

.logo-descr {
  min-width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 72px;
}

.footer .text {
  color: var(--accent);
  max-width: 264px;
}

.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.social-footer > .text {
  margin-bottom: 16px;

  font-weight: 500;

  color: var(--white-background);
}

.social-footer > .list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social-footer .item {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--light);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--success);
}

.subscribe-form {
  width: 100%;
}

.subscribe-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-label {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--white-background);
}

.subscribe-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: var(--primary-brand);
}

.subscribe-btn {
  padding: 8px 24px;
  display: flex;
  align-items: center;

  margin: 0 auto;
}

.subscribe-btn-icon {
  margin-left: 24px;
  fill: var(--white-background);
}

/* ------------modal------------ */

.backdrop {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--modal-overlay);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 392px;
  max-width: 90%;
  min-height: 586px;
  padding: 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -150%);
}

.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 24px;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;

  cursor: pointer;
  background: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  background-color: var(--pressed-state);
}

.close-cross {
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover > .close-cross,
.close-modal:focus > .close-cross {
  fill: var(--white-background);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--dark);
}

.modal-form {
  width: 100%;
  line-height: 1.17;
  overflow: auto;
}

.label-modal {
  display: block;
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 4px;

  color: var(--subtle-text);
}

.form-field {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}

.input-modal {
  width: 100%;
  padding: 10px 16px 10px 38px;
  background-color: transparent;

  border: 1px solid var(--modal-overlay);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: var(--primary-brand);
}

.input-modal:focus + .modal-input-icon {
  fill: var(--primary-brand);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  margin-bottom: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-policy {
  margin-right: 8px;
}

.policy-input {
  display: flex;
  margin-bottom: 24px;
}

.policy-input > .label-modal {
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
}

.check-decor {
  min-width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--modal-overlay);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  display: block;
}

.checkbox-policy:checked + .label-modal > .check-decor {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.check-policy {
  margin-left: 4px;
  color: var(--primary-brand);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-policy:hover,
.check-policy:focus {
  color: var(--pressed-state);
}

.submit-btn {
  display: block;
  margin: 0 auto;
}
